<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center mb-4">
        <h5>Licores Artesanales</h5>
        <p>Descubre el arte de la destilación artesanal con nuestras exclusivas colecciones.</p>
      </div>
      <div class="col-md-4 text-center mb-4">
        <h5>Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/']">Inicio</a></li>
          <li><a [routerLink]="['/colecciones']">Colecciones</a></li>
          <li><a [routerLink]="['/promociones']">Promociones</a></li>
          <li><a [routerLink]="['/contacto']">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center mb-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt"></i> Calle Principal 123</li>
          <li><i class="bi bi-telephone"></i> (123) 456-7890</li>
          <li><i class="bi bi-envelope"></i> infoelixirselecto.com</li>
          <li class="social-links">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2024 Licores Artesanales. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
  